@charset "utf-8";
@media only screen and (max-width: 1600px)
{	
}
@media only screen and (max-width: 1440px)
{	
}
@media only screen and (max-width: 1380px)
{	
}
@media only screen and (max-width: 1280px)
{	
}
@media only screen and (max-width: 1199px)
{	
}
@media only screen and (max-width: 1100px)
{	
}
@media only screen and (max-width: 1024px)
{	
}
@media only screen and (max-width: 991px)
{
	.main_nav,
	.search_button
	{
		display: none;
	}
	.top_bar_contact_list li i,
	.top_bar_contact_list li > div,
	.login_button a
	{
		font-size: 12px;
	}
	.hamburger
	{
		display: inline-block;
		margin-left: 33px;
	}
	.blog_images_col:not(:last-child)
	{
		margin-bottom: 30px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.footer_contact,
	.footer_links
	{
		padding-left: 0;
	}
	.footer_links ul
	{
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
	.footer_logo_container
	{
		margin-top: 0;
	}
	.copyright
	{
	    height: auto;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.cr_list
	{
		margin-top: 30px;
	}
	.cr_list li:not(:last-child)
	{
		margin-right: 20px;
	}
	.copyright div,
	.cr_list li a
	{
		font-size: 13px;
	}
}
@media only screen and (max-width: 959px)
{
}
@media only screen and (max-width: 880px)
{	
}
@media only screen and (max-width: 768px)
{	
}
@media only screen and (max-width: 767px)
{
	.top_bar
	{
		display: none;
	}
	.home
	{
		height: 140px;
	}
	.header.scrolled
	{
		top: 0px;
	}
	.blog
	{
	padding-top: 50px;
	padding-bottom: 50px;
	}
	.blog_post
	{
		width: 100%;
	}
}
@media only screen and (max-width: 575px)
{
	h2
	{
		font-size: 24px;
	}
	p
	{
		font-size: 13px;
	}
	.menu
	{
		width: 100%;
		right: -100%;
	}
	.dropdown_item_select,
	.home_search_button
	{
		font-size: 12px;
	}
	.blog_content p
	{
		font-size: 16px;
	}
	.blog_quote div
	{
		font-size: 16px;
	}
	.blog_quote i
	{
		font-size: 24px;
	}
	.blog_quote div
	{
		padding-left: 15px;
	}
	.blog_title
	{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 1.2;
	color: #353535;
	}
	.input_col:not(:last-child)
	{
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 539px)
{	
}
@media only screen and (max-width: 480px)
{	
}
@media only screen and (max-width: 479px)
{	
}
@media only screen and (max-width: 400px)
{	
}