{% extends 'mastrooms/base.html' %}
{% load static %}
{% block title %}
<title>Terms &amp; Conditions | Mastrooms | Hostels in Kota | Rooms in Kota | Kota Hostels</title>
{% endblock %}
{% block css %}
<link href="{% static 'mastrooms/plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'mastrooms/css/terms_and_conditions.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mastrooms/css/about_us_responsive.css' %}">
{% endblock %}
{% block nav%}
<li><a href="{% url 'register_property' %}"><i class="fas fa-home"></i> Register Property</a></li>
<li><a href="{% url 'rooms' %}"><i class="fas fa-search"></i> Search Rooms</a></li>
<li><a href="{% url 'about_us' %}"><i class="fas fa-bullhorn"></i> About Us</a></li>
{% endblock %}
{% block content%}
<div class="home">
<div class="breadcrumbs_container">
<div class="container">
<div class="row">
<div class="col">
<div class="breadcrumbs">
<ul>
<li><a href="{% url 'index' %}">Home</a></li>
<li>Terms &amp; Conditions</li>
</ul>
</div>
</div>
</div>
</div>
</div>			
</div>

<!-- Course -->

<div class="course">
<div class="container">
<div class="row">

<!-- Course -->
<div class="col-lg-12">

<div class="course_container">

<!-- Course Tabs -->
<div class="course_tabs_container">
<div class="tab_panels">

<!-- Description -->
<div class="tab_panel active">
<div class="tab_panel_title">Terms and Conditions :</div>
<div class="tab_panel_content">
<div class="tab_panel_text">
<p>These Terms will be applied fully and affect to your use of Mastrooms. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.</p>

</div>

<div class="tab_panel_section">
<div class="tab_panel_subtitle">Membership Eligibility :</div>
<div class="tab_panel_text">
<p>All age groups are allowed to use this Website.</p>

</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Intellectual Property Rights :</div>
<div class="tab_panel_text">
<p>Other than the content you own, under these Terms, Mastrooms and/or its licensors own all the intellectual property rights and materials contained in this Website.
<br>You are granted limited license only for purposes of viewing and Booking/Quering the material contained on this Website.</p>


</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Restrictions :</div>
<div class="tab_panel_text">
<p>You are specifically restricted from all of the following : </p>
</div>
<ul class="tab_panel_bullets">
<li>Selling, sublicensing and/or otherwise commercializing any Website material.</li>
<li> Using this Website in any way that is or may be damaging to this Website.</li>
<li>Using this Website in any way that impacts user access to this Website.</li>
<li>Using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity.</li>
<li>Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website.</li>
<li>Using this Website to engage in any advertising or marketing.</li>
<li>Data may be shared with Third parties for rich user experience. We are not responsible for any missuse of that data</li>
<li>Certain areas of this Website are restricted from being access by you and Mastrooms may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.</li>

</ul>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Content :</div>
<div class="tab_panel_text">
<p>Mastrooms Standard Terms and Conditions, "Your Content" shall mean any audio, video, text, images or other material you choose to display on this Website. By displaying Your Content, you grant Mastrooms a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.<br>
Your Content must be your own and must be invading any third-party’s rights. Mastrooms reserves the right to remove any of Your Content from this Website at any time without notice.</p>


</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Privacy :</div>
<div class="tab_panel_text">
<p>Please read Privacy Policy section.</p>

</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">No warranties :</div>
<div class="tab_panel_text">
<p>Mastrooms express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.We are not responsible for any fake promises made by Third party through our website, please go through the contract of that Third party and verify data yourself before making any kind of transactions.</p>

</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Limitation of liability :</div>
<div class="tab_panel_text">
<p>In no event shall Mastrooms, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  Mastrooms, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</p>

</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Indemnification :</div>
<div class="tab_panel_text">
<p>You hereby indemnify to the fullest extent unthinkable media  from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>


</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Severability :</div>
<div class="tab_panel_text">
<p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>


</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Variation of Terms :</div>
<div class="tab_panel_text">
<p>Mastrooms is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.</p>


</div>
</div>

<div class="tab_panel_section">
<div class="tab_panel_subtitle">Entire Agreement :</div>
<div class="tab_panel_text">
<p><p>These Terms constitute the entire agreement between Mastrooms and you in relation to your use of this Website, and supersede all prior agreements and understandings.</p>



</div>
</div>
<div class="tab_panel_section">
<div class="tab_panel_subtitle">Governing Law &amp; Jurisdiction:</div>
<div class="tab_panel_text">
<p>These Terms will be governed by and interpreted in accordance with the laws of India, and you submit to the non-exclusive jurisdiction of the state and federal courts located in in for the resolution of any disputes.</p>



</div>
</div>
</div>
</div>

<!-- Curriculum -->

<!-- Reviews -->


</div>
</div>
</div>
</div>

<!-- Course Sidebar -->

</div>
</div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'mastrooms/js/room_detail.js' %}"></script>
<script src="{% static 'mastrooms/plugins/easing/easing.js' %}"></script>
{% endblock %}